body{
  background-color: #03045e;
}

.ms-container{
    max-width: 40%;
    margin: 0 auto;
  }

ul {
  list-style: none;
  padding-left: 0;
}

img{
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}

.ms-bg{
  background-color: aquamarine;
}
.ms-bg-color{
  background-color: #222;
}

.ms-btn{
  border: none;
  color: red;
}